@charset "UTF-8";
*{
	box-sizing:border-box;
}
html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
body{
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	background-color:#fff;
	overflow-x:hidden;
	margin:0;
}
body,button,input,select,textarea{
	font-family: "Microsoft Yahei", "Source Sans Pro", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",sans-serif,"宋体";
	color:#43454b;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	font-weight:400;
	font-size: 14px;
}
body, button, input, textarea{
	-moz-osx-font-smoothing:grayscale;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
	display:block;
}
audio, canvas, progress, video{
	display:inline-block;
	vertical-align:baseline;
}
embed,iframe,object,video{
	max-width:100%;
}
audio:not([controls]){
	display:none;
	height:0;
}
svg:not(:root){
	overflow:hidden;
}
img, legend{
	border:0;
}
figure{
	margin:0;
}
img {
	max-width:100%;
	height:auto;
	vertical-align: middle;
}
ul,li, ol{
	padding: 0;
	margin: 0;
	list-style:none;
}
a:active,
a:hover{
	outline:0;
}
a{
	background-color:transparent;
	color:#2c2d33;
}
a, ins, mark{
	text-decoration:none;
}
hr{
	box-sizing:content-box;
	background-color:#ccc;
	border:0;
	height:1px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin:0;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 12px;
}
small, sub, sup{
	font-size:75%;
}
sub, sup{
	height:0;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-.5em;
	bottom:1ex;
}
sub{
	bottom:-.25em;
	top:.5ex;
}
big{
	font-size:125%;
}
mark{
	color:#000;
}
abbr,
acronym{
	border-bottom:1px dotted #666;
	cursor:help;
}
ins,
mark{
	background:0 0;
}
dfn{
	font-style:italic;
}
legend, td, th{
	padding:0;
}
blockquote{
	padding:0 1em;
	border-left:3px solid rgba(0,0,0,.05);
}
pre{
	background:rgba(0,0,0,.1);
	font-family:"Courier 10 Pitch",
	Courier,
	monospace;
	margin-bottom:1.618em;
	padding:1.618em;
	overflow:auto;
}
code,kbd,tt,var{
	font-family:Monaco,
	Consolas,
	"Andale Mono",
	"DejaVu Sans Mono",
	monospace;
	background-color:rgba(0,0,0,.05);
	padding:.202em .5407911001em;
}
code,kbd,pre,samp{
	font-family:monospace,
	monospace;
	font-size:1em;
}
blockquote, cite, dfn, em, i{
	font-style:italic;
}
fieldset{
	margin:0 2px;
}
optgroup{
	font-weight:700;
}
button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0;
}
button,select{
	text-transform:none;
}
select{
	color:initial;
}
button{
	overflow:visible;
}
button,
html input[type=button],
input[type=reset],
input[type=submit]{
	-webkit-appearance:button;
	cursor:pointer;
}
button[disabled],
html input[disabled]{
	cursor:default;
}
input[type=checkbox],
input[type=radio]{
	box-sizing:border-box;
	padding:0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	height:auto;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none;
}
[hidden], template{
	display:none;
}
button,
input,
select,
textarea{
	font-size: 16px;
	margin:0 auto;
	vertical-align:baseline;
}
button,
input[type=button],
input[type=reset],
input[type=submit]{
	display:inline-block;
	background-color:#168cdb;
	border:none;
	outline:0;
	color:#fff;
	cursor:pointer;
	text-decoration:none;
	text-shadow:none;
	-webkit-appearance:none;
	-webkit-font-smoothing:antialiased;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding: 4px;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover{
	background-color: #35afe8;
}
button.menu-toggle,
button.menu-toggle:hover{
	background-image:none;

}
button.alt,
button.cta,
input[type=button].alt,
input[type=button].cta,
input[type=reset].alt,
input[type=reset].cta,
input[type=submit].alt,
input[type=submit].cta{
	background-color:#168cdb;
	border-color:#168cdb;
}
button.alt:hover,
button.cta:hover,
input[type=button].alt:hover,
input[type=button].cta:hover,
input[type=reset].alt:hover,
input[type=reset].cta:hover,
input[type=submit].alt:hover,
input[type=submit].cta:hover{
	background-color:#35afe8;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover{
	color:#fff;
}
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus{
	outline:none;
}
button.added:after,
input[type=button].added:after,
input[type=reset].added:after,
input[type=submit].added:after{
	display:inline-block;
	font:normal normal normal 1em/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f00c";
	width: 20px;
	margin-left:.5407911001em;
}
button.loading,
input[type=button].loading,
input[type=reset].loading,
input[type=submit].loading{
	opacity:.5;
}
button.small,
input[type=button].small,
input[type=reset].small,
input[type=submit].small{
	padding:.5407911001em .875em;
	font-size:.875em;
}
button.disabled,
button:disabled,
input[type=button].disabled,
input[type=button]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=submit].disabled,
input[type=submit]:disabled{
	opacity:.5;
	cursor:not-allowed;
}
button.disabled:hover,
button:disabled:hover,
input[type=button].disabled:hover,
input[type=button]:disabled:hover,
input[type=reset].disabled:hover,
input[type=reset]:disabled:hover,
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover{
	opacity:.5;
}
input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner{
	border:0;
	padding:0;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
textarea{
	background-color:#fff;
	color:#43454b;
	outline:0;
	border:0;
	-webkit-appearance:none;
	border-radius:2px;
	box-sizing:border-box;
	font-weight:400;
	border:solid 1px #ddd;
	padding-top: 4px;
	padding-bottom: 4px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus{
	color:#168cdb;
	border-color: #168cdb;
}
textarea{
	overflow:auto;
	padding-left:.875em;
	vertical-align:top;
	width:100%;
}
label{
	font-weight:600;
}
label.inline input{
	width:auto;
}
fieldset{
	padding:0;
	border:0;
}
fieldset legend{
	font-weight:700;
}
.ul,.li,.ol{
	list-style: none;
}
.h1, .h2, .h3, .h4, .h5, .h6{
	font-weight: normal;
	margin:0;
}
.h1{
	font-size: 36px;
}
.h2{
	font-size: 30px;
}
.h3{
	font-size: 24px;
}
.h4{
	font-size: 18px;
}
.h5{
	font-size: 16px;
}
.h6{
	font-size: 12px;
}
[placeholder]:focus::-webkit-input-placeholder{
	-webkit-transition:opacity .5s .5s ease;
	-moz-transition:opacity .5s .5s ease;
	transition:opacity .5s .5s ease;
	opacity:0;
}
.clearfix,.clearfix:before,.clearfix:after,
.container:before,.container:after,
.container-fluid:before,.container-fluid:after{
	display: table;
	content: " ";
}
.clearfix:after,.container:after,.container-fluid:after{
	clear: both;
	display:block;
	visibility:hidden;
	content:'';
	height:0;
	font-size:0;
}
.container {
	margin-right: auto;
	margin-left: auto;
	transition: all .5s;
	*overflow: hidden;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 1024px) {
	.col-1,.col-2,.col-3,
	.col-4,.col-5,.col-6,
	.col-7,.col-8,.col-9,
	.col-10,.col-11,.col-12,
	.col-20{
		min-height: 1px;
		float: left;
		position: relative;
		list-style: none;
	}
	.children-fr > [class^=col]{
		float: right;
	}
	.col-20{
		width: 20%;
		width: 19.5%;
	}
	.col-12 {
		width: 100%;
	}
	.col-11 {
		width: 91.66666667%;
		width: 91.5%\9;
	}
	.col-10 {
		width: 83.33333333%;
		width: 83.2%\9;
	}
	.col-9 {
		width: 75%;
		width: 74.9%\9;
	}
	.col-8 {
		width: 66.66666667%;
		width: 66.5%\9;
	}
	.col-7 {
		width: 58.33333333%;
		width: 58.2%\9;
	}
	.col-6 {
		width: 50%;
		width: 49.9%\9;
	}
	.col-5 {
		width: 41.66666667%;
		width: 41.5%\9;
	}
	.col-4 {
		width: 33.33333333%;
		width: 33.2%\9;
	}
	.col-3 {
		width: 25%;
		width: 24.9%\9;
	}
	.col-2 {
		width: 16.66666667%;
		width: 16.5%\9;
	}
	.col-1 {
		width: 8.33333333%;
		width: 8.2%\9;
	}
}


/**
 * 常用样式
 */
.right {
	float: right;
}
.left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.inline{
	font-size: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.filter{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}
.html-gray {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(1);
}
.opacity{
	opacity: .9;
	filter:alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
.bg-grad-grey,
a.grad-grey:hover{
    color: #3483ec;
    background: -webkit-linear-gradient( top, #f9f9f9 , #e3e3e1 );
    background: -o-linear-gradient( bottom, #f9f9f9, #e3e3e1 );
    background: -moz-linear-gradient( bottom, #f9f9f9, #e3e3e1 );
    background: linear-gradient( to bottom, #f9f9f9 , #e3e3e1 );
    *filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#e3e3e1',grandientType=1);
}
.text-limit{
	display: block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	word-break: normal;
	 word-wrap: break-word;
	 white-space:nowrap;
	 word-break:break-all;
	}
.text-inner{
	width: 200px;
	display: -webkit-box;
	 overflow: hidden;
	 text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	 -webkit-line-clamp: 3;
	}
.text-multiple{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.form-error,.form-notice,.form-info,.form-success{
	padding: 5px 10px;
	border: solid 1px #DDD;
}
.form-error{
	color: #8A1F11;
	border-color:#FBC2C4;
	background-color: #FBE3E4;
}
.form-notice{
	color: #514721;
	border-color:#FFD324;
	background:#FFF6BF;
}
.form-info{
	color: #205791;
	border-color: #92CAE4;
	background-color: #D5EDF8;
}
.form-success{
	color: #264409;
	border-color: #C6D880;
	background-color: #E6EFC2;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

/**
 * WORDPRESS 文章发表默认样式
 */
.post-content{
    padding: .8em;
}
.post-content code
{
    color: inherit;
    border: none;
    background: inherit;
}
.post-content blockquote
{
    margin: 16px 40px;
    padding: 0;
}
.post-content hr
{
    margin: 8px 0;
}
.post-content fieldset
{
    padding: 5.6px 12px 10px;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content b,
.post-content strong
{
    font-weight: bold;
    line-height: normal;

    padding: 0;
}
.post-content h1
{
    font-size: 32px;

    margin: 21.44px 0;
    padding: 0;
}
.post-content h2
{
    font-size: 24px;

    margin: 19.92px 0;
}
.post-content h3
{
    font-size: 18.72px;

    margin: 18.72px 0;
}
.post-content h4
{
    font-size: 16px;

    margin: 21.28px 0;
}
.post-content h5
{
    font-size: 13.28px;

    margin: 22.1776px 0;
}
.post-content h6
{
    font-size: 12px;

    margin: 27.96px 0;
}
.post-content ul,
.post-content ul li
{
    list-style: disc;
}
.post-content ol,
.post-content ol li
{
    list-style: decimal;
}
.post-content li
{
    list-style: list-item;
}
.post-content ul,
.post-content ol
{
    margin: 16px 0;
    padding: 0 0 0 40px;
}
.post-content dd
{
    margin: 16px 0;
    padding: 0;
}
.post-content i,
.post-content em
{
    font-style: italic;
}
.post-content s
{
    text-decoration: line-through;
}
.post-content p
{
    word-break: break-all;
}
.post-content img
{
    display: block;

    max-width: 100%;
    margin: 10px auto;
}
.post-content
{
    line-height: 1.9;

    overflow: hidden;

    margin: 0 auto;
}
